<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Facture</title>

<style type="text/css">
    * {
        font-family: Verdana, Arial, sans-serif;
    }
    table{
        font-size: x-small;
    }
    tfoot tr td{
        font-weight: bold;
        font-size: x-small;
    }

    .gray {
        background-color: lightgray
    }
    .alignText {
        display: inline-block;
    width: 100px;
    }
    img {
       width : 140px;
       height : 140px;
    }

    .sizing{
      font-size : 13px;
    }

    .date {
      margin-top : 10px;
      font-size : 13px;
  
    }


</style>

</head>
<body>

  <table width="100%">
    <tr>
        <td valign="top"><img  src={{data.logo}} alt="logo nixia">
    </td>
        <td align="right">
            <h3>{{ data.name }}</h3>
            <pre>
               
               <span class="sizing"> <strong> Addresse : </strong> {{data.address}} </span>    

               <span class="sizing"> <strong> Téléphone : </strong> {{data.mobileNumber}} </span>  

                <span class="sizing"> <strong> Email : </strong> {{data.email}}</span>  
                
            </pre>
        </td>
    </tr>

  </table>

  {# <table width="100%">


  </table> #}

  <br/>

  <table width="100%">
    <thead style="background-color: lightgray;">
      <tr>
        <th>#</th>
        <th class="sizing">Description</th>
        <th class="sizing">Quantité</th>
        <th class="sizing">Prix Unitaire$</th>
        <th class="sizing">Total $</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="sizing">1</th>
        <td class="sizing" class="sizing">Consommation mensuel</td>
        <td align="right" class="sizing">1</td>
      <td align="right" class="sizing"> 0.25 </td> 
            <td align="right" class="sizing"> {{data.total}} </td> 
      </tr>

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="sizing"></td>
            <td align="right" class="sizing">Total hors taxe $</td>
            <td align="right" class="sizing">{{data.total}}</td>
        </tr>
        <tr>
            <td colspan="3" class="sizing"></td>
            <td align="right" class="sizing">Tax $</td>
            <td align="right" class="sizing">25.3</td>
        </tr>
        <tr>
            <td colspan="3" class="sizing"></td>
            <td align="right" class="sizing">Total $</td>
            <td align="right" class="gray sizing">{{data.total + data.taxe}}</td>
        
        </tr>

    </tfoot>
   
  </table>
    <table width="100%">
    <tr>
        <td valign="top"><img   alt="logo nixia">
    </td>
   
        <td align="right">
             <pre>
               
               <span class="sizing">  Facture éditée le :  {{data.dateInvoice|date("d/m/Y")}} </span>    

                
             </pre>
        </td>
   
    </tr>
  </table>


</body>
</html>